@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;900&display=swap");
/* @import '~quill/dist/quill.core.css'; */
/* @import '~quill/dist/quill.bubble.css'; */
@import '~quill/dist/quill.snow.css';

@tailwind base;

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}



/* ------------- sidebar scroll bar start ------------- */
.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 100vh;
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.sidebar-main:hover .scrollbar::-webkit-scrollbar-thumb {
  width: 8px;
  height: 8px;
  background: #436cb87d;
}

.sidebar-main-wrapper-before:before {
  position: absolute;
  z-index: 0;
  content: "";
  width: 800px;
  height: 100vh;
  background-color: #00000088;
}

/* ------------- sidebar scroll bar end ------------- */
.attachment-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

* {
  letter-spacing: 0.3px;
  /* transition: all 0.3s ease; */
}

svg,
span {
  transition: all 0.1s ease;
}

a:hover {
  border: none;
}

.checkbox-switch svg {
  opacity: 0;
  color: #1f3c71;
}

input[type="file"]::after {
  position: absolute;
  content: "";
  width: 425px;
  height: 80px;
  border-radius: 10px;
  cursor: pointer;
  left: 0px;
  top: 0;
}

td::-webkit-scrollbar-track {
  border-radius: 0;
  background: transparent;
}

td::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 0;
}

td::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.action-buttons span {
  margin-right: 0;
}

.checkboxes label {
  margin-left: 0 !important;
}

.checkboxes div {
  color: #fff !important;
}

label.chakra-radio span {
  font-size: 12px;
}

.modules_and_operations::-webkit-scrollbar {
  width: 6px;
  border-radius: 20px;
}

.modules_and_operations::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: #dbdbdb;  

}

.modules_and_operations::-webkit-scrollbar-thumb {
  border-radius: 20px;
  width: 35px !important;
  background-color: #f2ac61;
  /* -webkit-box-shadow: 0px 0px 10px #fc9c48;
  -moz-box-shadow: 0px 0px 10px #fc9c48;
  box-shadow: 0px 0px 10px #fc9c48; */
}